.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: #fca311;
    -fx-border-color: #14213c;
}




.jfx-tab-pane .tab-header-background
{
  -fx-background-color: #14213c;
  -fx-border-color: #14213c;
  
}

table {
    -fx-text-fill: #e5e5e5;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: #fca311; }

 
.default-color0.chart-line-symbol { -fx-background-color: #fca311, #fca311; }
